<main class="main" id="main">
  <section class="section">
    <div class="row">
<div class="row">

  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="card">
          
          <div class="card-header card-header-accent" style="background-color: antiquewhite;">
            <div class="mb-3 pb-1">
              <h5 class="card-title">Payments Records</h5>
          </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Property</th>
                  <th scope="col">Unit Id</th>
                  <th scope="col">Receipt No:</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of payments | filter:searchText">
                  <td>{{payment.date}}</td>
                  <td>{{payment.property}}</td>
                  <td>{{payment.unit_Id}}</td>
                  <td>{{payment.Receipt_No}}</td>
                  <td>{{payment.status}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" style="margin-left: 20px;" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <div class="dropdown-menu">
                        <button class="dropdown-item" routerLink="/view-utilities">View</button>
                        <a class="dropdown-item" href="/cards">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                      </div>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</section>
</main>
