<main class="main" id="main">
    <section class="section">
        <div class="row">
<button type="submit" style="width: 150px;" (click)="goBactToTenant()" class="btn btn-primary"><i class="bi bi-arrow-left" style="margin-right: 5px;"></i>Go Back</button>
</div>
</section>
</main>

<main id="main" class="main">
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Property Form</h5>
                   <form>
                      <div class="row mb-3">
                        <span>
                         <label for="inputText" class="col-sm-10 col-form-label">Property Name</label>
                         </span>
                         <div class="col-sm-10"> <input type="text" name="propertyName" class="form-control"></div>
                      </div>
                      <div class="row mb-3">
                         <label for="inputNumber" class="col-sm-10 col-form-label">Number of Units</label>
                         <div class="col-sm-10"> <input type="number" class="form-control"></div>
                      </div>
                      
                      <div class="row mb-3">
                         <label class="col-sm-10 col-form-label"></label>
                         <div class="col-sm-10"> <button type="submit" class="btn btn-primary">Submit Form</button></div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>