

  <main id="main" class="main">
    <section class="section">
       <div class="row align-items-top">
          <div class="col-lg-12">
             <div class="card">
              <div class="card-header card-header-accent" style="background-color: antiquewhite;">
                <div class="mb-3 pb-1">
                  <div class="d-flex justify-content-end">
                  <div id="button" class="text-center"> <button type="submit" (click)="addTenant()" class="btn btn-primary"><i class="bi bi-plus"></i>Add-Tenant</button><button type="reset" style="margin-left: 20px;" class="btn btn-secondary"><i class="bi bi-telegram"></i>Send Reminders</button><div class="btn-group">
                    <button type="button" style="margin-left: 20px;" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      More Actions
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/add-invoice">Add Invoce</a>
                      <a class="dropdown-item" href="/cards">Add Payment</a>
                      <a class="dropdown-item" href="#">Shift Tenant</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              </div>
                <div class="card-body">
                   <h5 class="card-title">Summary</h5>

                   <div class="d-flex" >    
                   <div class="col-xxl-4 col-xl-4">
                     <div class="card info-card customers-card">
                        <div class="filter">
                           <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                 <h6>Tenants</h6>
                              </li>
                              <li><a class="dropdown-item" href="#">Vivian</a></li>
                              <li><a class="dropdown-item" href="#">Sam</a></li>
                              <li><a class="dropdown-item" href="#">James</a></li>
                           </ul>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title">Tenants<span></span></h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                              <div class="ps-3">
                                 <h6>3</h6>
  
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-xxl-4 col-xl-4" style="margin-left: 20px;">
                     <div class="card info-card customers-card">
                        <div class="card-body">
                           <h5 class="card-title"> Expiring Leases<span></span></h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                              <div class="ps-3">
                                 <h6 style="align-items: center;">3</h6>
  
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  </div>
                   
                </div>
             </div>            
          </div>

          <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Tenants</h5>

                  <table class="table datatable">
                    <thead>
                       <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">  Property</th>
                          <th scope="col">Unit</th>   
                          <th scope="col">Status</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let tenant of Tenants">
                          <th scope="row"></th>
                          <td>{{tenant.name}}</td>
                          <td>{{tenant.property}}</td>
                          <td>{{tenant.unit}}</td>
                          <td>{{tenant.status}}</td>
                          <td>
                            <a href="/view-data">View Details</a>
                          </td>
                       </tr>
                      
                    </tbody>
                 </table>
                  
               </div>
            </div>            
         </div>

       </div>
    </section>
 </main>