<main class="main" id="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-10">
<div class="card">
  <div class="card-body">
     <h5 class="card-title">Property list</h5>
     <table class="table table-hover">
        <thead>
           <tr>
              <th scope="col">#</th>
              <th scope="col">Property Name</th>
              <th scope="col">Property Location</th>
              <th scope="col">Property Type</th>
              <th scope="col">Total Units</th>
              <th scope="col">Property Image</th>
              <th scope="col">Delete Property</th>
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let property of allProperties; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{property.propertyName}}</td>
              <td>{{property.propertyLocation}}</td>
              <td>{{ property.selectProperty}}</td>
              <td>{{property.propertyUnits}}</td>
              <td> <img  src="property.propertyImage"></td>
              <td><button type="button" class="btn btn-primary" (click)="onDeleteProperties(property.id)">Delete</button> </td>
              <td><button type="button" class="btn btn-primary" (click)="onEditClicked(property.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> </td>
           </tr>
        </tbody>
     </table>
  </div>
</div>
</div>
</div>
</section>
</main>

