<main id="main" class="main">
    <section class="section">
        <div class="row">
<div id="button"  class="text-center">
  <button type="submit" (click)="addProperty()" class="btn btn-primary"><i class="bi bi-plus"></i>Add-Property</button><button type="reset" style="margin-left: 20px;" class="btn btn-secondary" (click)="addUnit()" ><i class="bi bi-plus"></i>Add Unit</button>
</div>
</div>
</section>
</main>

  <main id="main" class="main">
    <section class="section">
       <div class="row align-items-top">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Summary</h5>

                   <div class="d-flex" >
                   <div class="col-xxl-4 col-xl-4">
                     <div class="card info-card customers-card">
                        <div class="filter">
                           <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots" style="margin-left: 5px;"></i></a>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                 <h6> Properties </h6>
                              </li>
                              <li><a class="dropdown-item" href="#">Propert A</a></li>
                              <li><a class="dropdown-item" href="#">Property B</a></li>
                              <li><a class="dropdown-item" href="#">Property C</a></li>
                           </ul>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title"><i class="bi bi-building" style="margin-right: 5px;"></i>Properties</h5>
                           <div class="d-flex align-items-center">

                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>

                              <div clas="col-10">
                              <div class="ps-3">
                                 <h1>0</h1>
                              </div>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4" style="margin-left: 20px;">
                <div class="card info-card customers-card">
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-house" style="margin-right: 5px;"></i>Total Vacancies</h5>
                    <div class="d-flex align-items-center">
                       <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                       <div class="ps-3">
                          <h1>0</h1>
                       </div>
                    </div>
                 </div>
                 </div>
                 </div>
                </div>

                </div>
             </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Properties</h5>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Property Name</th>
                        <th scope="col">Number of Units</th>
                        <th scope="col">City</th>
                        <th scope="col">Payment Method</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                    </tbody>
                  </table>

               </div>
            </div>
         </div>

       </div>
    </section>
 </main>
